{{!
    This file is part of the Vote activity.

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template mod_vote/mobile/latest/question

    Renders the results for a single question in a vote for the Mobile app.

    Classes required for JS:
    * none

    Data attributes required for JS:
    * none

    Context variables required for this template:
    * options
    * text

    Example context (json):
    {
        "options": [],
        "text": "Which option do you like best?"
    }
}}
{{=<% %>=}}
<ion-card>
    <ion-card-header><%text%></ion-card-header>
    <ion-list>
        <%#options%><%> mod_vote/mobile/latest/option%><%/options%>
    </ion-list>
</ion-card>
