{{!
    This file is part of the Vote activity.

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template mod_vote/mobile/ionic3/voting

    Renders the voting page for the mobile app.

    Classes required for JS:
    * none

    Data attributes required for JS:
    * none

    Context variables required for this template:
    * id
    * isaltvote
    * questions
    * type

    Example context (json):
    {
        "id": 15,
        "isaltvote": false,
        "questions": [],
        "type": 2
    }
}}
{{=<% %>=}}
<ion-card *ngFor="let error of CONTENT_OTHERDATA.errors.vote" color="danger">
    <ion-card-content translate>
        {{error}}
    </ion-card-content>
</ion-card>
<%^isaltvote%><%#questions%><%> mod_vote/mobile/ionic3/voting_question%><%/questions%><%/isaltvote%>
<%#isaltvote%><%#questions%><%> mod_vote/mobile/ionic3/voting_av_question%><%/questions%><%/isaltvote%>
<button ion-button block
    core-site-plugins-call-ws name="mod_vote_vote"
    [params]="{id: <% id %>, type: <% type %>, vote: prep_data()}"
    [preSets]="{getFromCache: 0, saveToCache: 0}"
    (onSuccess) = "check_response($event)"
>
    {{ 'plugin.mod_vote.submit' | translate }}
</button>
