{{!
    This file is part of the Vote activity.

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template mod_vote/option

    Renders a the results for a single option in a vote.

    Classes required for JS:
    * none

    Data attributes required for JS:
    * none

    Context variables required for this template:
    * percentage
    * round
    * text
    * votes

    Example context (json):
    {
        "percentage": 42,
        "round": 0,
        "text": "Vote for me!",
        "votes": 16
    }
}}
<div class="vote_option">
    <div class="vote_bar" style="width: {{percentage}}%"></div>
    <div class="vote_text">
        <span>{{text}}</span> {{!
        }}<span>{{#str}} votes, mod_vote, { "votes": {{#quote}}{{votes}}{{/quote}} } {{/str}}</span>{{!
        }}{{#round}} {{#str}} eliminated, mod_vote, { "round": {{#quote}}{{round}}{{/quote}} } {{/str}} {{/round}}
    </div>
</div>
