{{!
    This file is part of the Vote activity.

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template mod_vote/vote_editing_info

    Renders some information about the activity when the vote is in editing state.

    Classes required for JS:
    * none

    Data attributes required for JS:
    * none

    Context variables required for this template:
    * closed
    * closedate
    * isaltvote
    * ispoll
    * isvote

    Example context (json):
    {
        "closed": false,
        "closedate": 1543481538,
        "isaltvote": true,
        "ispoll": false,
        "isvote": false
    }
}}
<div class="alert alert-info {{^isaltvote}}{{^ispoll}}{{^isvote}}alert-danger{{/isvote}}{{/ispoll}}{{/isaltvote}}">
    <strong>{{#str}} type, mod_vote {{/str}}</strong>:{{!
    }}{{#isaltvote}} {{#str}} type_av, mod_vote {{/str}} - {{#str}} type_av_help, mod_vote {{/str}} {{/isaltvote}}{{!
    }}{{#ispoll}} {{#str}} type_poll, mod_vote {{/str}} - {{#str}} type_poll_help, mod_vote {{/str}} {{/ispoll}}{{!
    }}{{#isvote}} {{#str}} type_vote, mod_vote {{/str}} - {{#str}} type_vote_help, mod_vote {{/str}} {{/isvote}}{{!
    }}{{^isaltvote}}{{^ispoll}}{{^isvote}} {{#str}} type_unknown, mod_vote {{/str}} {{/isvote}}{{/ispoll}}{{/isaltvote}}
</div>
<div class="alert {{^closed}}alert-info{{/closed}}{{#closed}}alert-danger{{/closed}}">
    <strong>{{#str}} closedate, mod_vote {{/str}}</strong>: {{!
    }}{{#userdate}} {{closedate}}, {{#str}}strftimedaydatetime{{/str}} {{/userdate}}
</div>
