{{!
    This file is part of the Vote activity.

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template mod_vote/vote_editing_question

    Renders some information about the activity when the vote is in editing state.

    Classes required for JS:
    * none

    Data attributes required for JS:
    * none

    Context variables required for this template:
    * deletequestionurl
    * optionurl
    * options
    * qid
    * questionurl
    * text

    Example context (json):
    {
        "deletequestionurl": "http://example.com?id=13",
        "options": [],
        "optionurl": "http://example.com?id=13",
        "qid": 42,
        "questionurl": "http://example.com?id=13",
        "text": "Which option do you like best?"
    }
}}
<div class="mod_vote_question">
    <h3>
        {{text}}
        <a href="{{{questionurl}}}&q={{qid}}" aria-label="{{#str}} aria:edit, mod_vote, {{text}} {{/str}}">{{#pix}} t/edit, core, {{#str}} edit, core {{/str}} {{/pix}}</a>
        <a href="{{{deletequestionurl}}}&q={{qid}}" aria-label="{{#str}} aria:delete, mod_vote, {{text}} {{/str}}">{{#pix}} t/delete, core, {{#str}} delete, core {{/str}} {{/pix}}</a>
    </h3>
    <p><a href="{{{optionurl}}}&q={{qid}}" aria-label="{{#str}} aria:add_option, mod_vote, {{text}} {{/str}}" class="btn btn-outline-secondary btn-sm">{{#str}} add_option, mod_vote {{/str}}</a></p>
    <ul>
        {{#options}}{{> mod_vote/vote_editing_option}}{{/options}}
    </ul>
</div>
