{{!
    This file is part of the Vote activity.

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template mod_vote/vote_open

    Renders the results page of the vote.

    Classes required for JS:
    * none

    Data attributes required for JS:
    * none

    Context variables required for this template:
    * canedit
    * closedate
    * displayresults
    * questions
    * reseturl

    Example context (json):
    {
        "canedit": false,
        "closedate": 1543481538,
        "displayresults": true,
        "questions": [],
        "reseturl": "http://example.com?id=13"
    }
}}
{{^displayresults}}
    <div class="alert alert-success">
        {{#str}} already_voted, mod_vote, { "close": {{#quote}}{{#userdate}} {{closedate}}, {{#str}}strftimedaydatetime{{/str}} {{/userdate}}{{/quote}} } {{/str}}
    </div>
{{/displayresults}}
{{#displayresults}}
    {{#questions}} {{> mod_vote/question}} {{/questions}}
    {{#canedit}}
        <p><a href="{{{reseturl}}}" class="btn btn-outline-secondary btn-sm">{{#str}} delete_cache, mod_vote {{/str}}</a></p>
    {{/canedit}}
{{/displayresults}}
