{{!
    This file is part of the Vote activity.

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template mod_vote/vote_editing_option

    Renders some an option for the editing view.

    Classes required for JS:
    * none

    Data attributes required for JS:
    * none

    Context variables required for this template:
    * deleteoptionurl
    * oid
    * optionurl
    * qid
    * text

    Example context (json):
    {
        "deleteoptionurl": "http://example.com?id=13",
        "oid": 69,
        "optionurl": "http://example.com?id=13",
        "qid": 42,
        "text": "Vote for me"
    }
}}
<li class="mod_vote_option">
    {{text}}
    <a href="{{{optionurl}}}&q={{qid}}&o={{oid}}" aria-label="{{#str}} aria:edit, mod_vote, {{text}} {{/str}}">{{#pix}} t/edit, core, {{#str}} edit, core {{/str}} {{/pix}}</a>
    <a href="{{{deleteoptionurl}}}&q={{qid}}&o={{oid}}" aria-label="{{#str}} aria:delete, mod_vote, {{text}} {{/str}}">{{#pix}} t/delete, core, {{#str}} delete, core {{/str}} {{/pix}}</a>
</li>
